h1 {
    font-size: 30px ;
    color: white;
    font-family: 'Lobster', sans-serif;
    text-align: center;
}

h2 {
    font-size: 30px ;
    color: rgba(5, 102, 125, 0.5 );
}

h3 {
    color: royalblue;
}

p {
    font-size: 1em ;
    font-family: cambria , sans-serif;
}

body{
    background-color: #e4e7f0
}

.my-class {
    color: gray;
}

.my-class2 {
    color: royalblue;
    font-weight: bold;
}

.my-class3 {
    font-weight: 700;
    text-decoration: underline;
    font-style: italic;
}


