h1 {
    font-size: 30px ;
    color: white;
    font-family: 'Lobster', sans-serif;
    text-align: center;
}

h2 {
    font-size: 20px ;
    color: royalblue;
}

h3 {
    color: royalblue;
}

p {
    font-size: 1em ;
    font-family: Arial , sans-serif;
    font-style: italic;
}

.my-class {
    color: gray;
}

.my-class2 {
    color: royalblue;
    font-weight: bold;
}

. my-class3 {
    font-weight: 700;
    text-decoration: underline;

}


